@charset "UTF-8";

@font-face {
    font-family: Neue;
    src: url(fonts/Helvetica\ Neue\ LT\ 65\ Medium\ 450.ttf);
}

@font-face {
    font-family: Vibes;
    src: url(fonts/GreatVibes-Regular.ttf);
}

body{
    background-color: rgb(243, 243, 243);
    margin: 0;
    padding: 0;
}

.section-a{
    background-color: #756D54;
    height: 25rem;
    width: 100%;
    margin: 0;
    padding: 0;
}

.section-a h1{
    font-family: Vibes;
    text-align: center;
    font-weight: normal;
    font-size: 4em;
    margin-top: 0;
    padding: 2rem;
}

.main{
    font-family: Neue;
    font-size: 1.5em;
    text-align: center;
}

a#button{
    color: black;
    font-family: Neue;
    font-size: 1.5em;
    border: 3px solid black;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    margin: 0 auto;
    padding: 1em 2em;
}

.section-b{
    height: 11rem;
    margin-top: 0;
    margin-bottom: 0;
}

.section-b h2{
    position: top;
    font-family: Vibes;
    font-size: 3em;
    font-weight: normal;
    text-align: center;
    margin-top: 50px;
}

.sub1{
    font-family: Neue;
    font-size: 1.5em;
    text-align: center;
}

.cards{
    background-color: #756D54;
    height: 600px;
    width: 100%;
    
}

img{
    display: inline-block;
    width: 200px;
    height: 100px;
}

.card1{
    background-color: rgb(243, 243, 243);
    display: inline-block;
    height: 500px;
    width: 300px;
    padding: 10px;
}

.card1 h3{
    font-family: Vibes;
    font-size: 2em;
    text-align: center;
}

.card2{
    background-color: rgb(243, 243, 243);
    display: inline-block;
    height: 500px;
    width: 300px;
    padding: 10px;
}

.card2 h3{
    font-family: Vibes;
    font-size: 2em;
    text-align: center;
}

.card3{
    background-color: rgb(243, 243, 243);
    display: inline-block;
    height: 500px;
    width: 300px;
    padding: 10px;
}

.card3 h3{
    font-family: Vibes;
    font-size: 2em;
    text-align: center;
}